<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename="images/icons/favicon.ico/")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/bootstrap/css/bootstrap.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="fonts/Linearicons-Free-v1.0.0/icon-font.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/animate/animate.css")}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/css-hamburgers/hamburgers.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/animsition/css/animsition.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/select2/select2.min.css")}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/daterangepicker/daterangepicker.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="css/util.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="css/main.css")}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
			<div class="wrap2-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Fuel quote
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5">

						<div class="wrap-input100 validate-input" data-validate = "Enter Gallons Requested">
							<div class="input100">
							<label for="Gallons" width=10px>Gallons Requested*</label>	
							<input class="pull-right" type="number" name="Gallons Requested" placeholder="" width=20px height=10px required>
								<span class="focus-input100" data-placeholder="&#xe82a;"></span>
							</div>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Enter delivery address">
								<div class="input100" width="50%">
										<label for="delivery" width=10px>Delivery Address</label>
										<div class="divclass" ><label for="delivery" >8450 cambridge</label></div>
								<!-- <input class="input100" type="text" name="username"  width 20px height 10px> -->
								<span class="focus-input100" data-placeholder="&#xe82a;"></span>
							</div>
						</div>
					

						<div class="wrap-input100 validate-input" data-validate = "Enter delivery date">
								<div class="input100">
										<label for="delivery" width=10px>Delivery Date</label>
										<input class="divclass" type="date" id="start" name="trip-start"
										value="2018-07-22"
										min="1980-01-01" max="2018-12-31">
								<span class="focus-input100" data-placeholder="&#xe82a;"></span>
							</div>
						</div>
                    
						<div class="wrap-input100 validate-input" data-validate = "Enter Price">
								<div class="input100">
								<label for="Price" width=10px>Suggested Price</label>	
								<div class="divclass"><label for="price" width=10px height=10px>ABC</label></div>
									<span class="focus-input100" data-placeholder="&#xe82a;"></span>
								</div>
							</div>
                    
							<div class="wrap-input100 validate-input" data-validate = "Enter Amount">
									<div class="input100">
									<label for="Amount" width=10px>Total Amount Due</label>	
									<div class="divclass"><label for="price">ABC</label></div>
										<span class="focus-input100" data-placeholder="&#xe82a;"></span>
									</div>
								</div>

				

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/jquery/jquery-3.2.1.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/animsition/js/animsition.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/bootstrap/js/popper.js")}}"></script>
	<script src="{{url_for('static',filename="vendor/bootstrap/js/bootstrap.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/select2/select2.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/daterangepicker/moment.min.js")}}"></script>
	<script src="{{url_for('static',filename="vendor/daterangepicker/daterangepicker.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/countdowntime/countdowntime.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="js/main.js")}}"></script>

</body>
</html>