<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
} 
	</style>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename="images/icons/favicon.ico/")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/bootstrap/css/bootstrap.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="fonts/Linearicons-Free-v1.0.0/icon-font.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/animate/animate.css")}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/css-hamburgers/hamburgers.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/animsition/css/animsition.min.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/select2/select2.min.css")}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="vendor/daterangepicker/daterangepicker.css")}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="css/util.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="css/main.css")}}">
<!--===============================================================================================-->
</head>
<body>
	<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">My Profile</a></li>
  <li><a href="#contact">Order fuel</a></li>
  <li><a href="#contact">Orders</a></li>
  <li><a href="#contact">Help</a></li>

  <li style="float:right;" ><a  href="#about">logout</a></li>
</ul>
	
	<div class="limiter">
	
		<div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
		
		
			<div class="wrap-login100 p-t-30 p-b-50">
			
				<span class="login100-form-title p-b-41">
				 Kiran's Profile
				</span>
                <form class="login100-form validate-form  p-b-33 p-t-5">

					<div class="wrap-input100 validate-input" data-validate = "Enter Full Name">
						<p class="input100"> Name:Kiran Reddy</p>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter Address1">
								<p class="input100"> Address1:8450 cambridge street </p>
                    </div>

                    <div class="wrap-input100 validate-input" >
						<h1 class="input100"> City: Houston</h1>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter City">
						<h1  class="input100"> State : TX</h1>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate = "Enter City">
						<h1 class="input100"> zipcode:77054</h1>
                    </div>

                    <!-- <div class="wrap-input100 validate-input" data-validate = "Enter State">
						<input class="input100" type="text" name="State" placeholder="State*">
						 <span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div> -->
					
				</form>
				
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/jquery/jquery-3.2.1.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/animsition/js/animsition.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/bootstrap/js/popper.js")}}"></script>
	<script src="{{url_for('static',filename="vendor/bootstrap/js/bootstrap.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/select2/select2.min.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/daterangepicker/moment.min.js")}}"></script>
	<script src="{{url_for('static',filename="vendor/daterangepicker/daterangepicker.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="vendor/countdowntime/countdowntime.js")}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename="js/main.js")}}"></script>

</body>
</html>